.m-navbar{
    width: 225px;
    height:calc(100vh - 48px);
    background-color: #ffffff;
    border-right: 1px solid #bebebe;
}
.m-menu-item{
    height:44px;
    display:flex;
    padding-left: 16px;
    align-items: center;
    
}
.m-menu-item:hover{
    background-color:#e5e5e5;
    cursor: pointer;
}

.m-icon-item{
    margin-right: 8px;
    font-size:16px;
    width: 20px;
    height: 20px;

}
.m-navbar .m-menu-item.m-menu-selected{
    background-color: #019160;
    color: #fff;
}

